<div class="content">
	<h2>ComicSquirrel: a web comics downloader for your NAS</h2>

	<div class="page-intro">
		<h4>Read web comics at your convenience</h4>
		<p>With a comics reader like Challenger Comics Viewer (<a href="https://play.google.com/store/apps/details?id=org.kill.geek.bdviewer" title="get app" target="_blank">Google Play</a>), it is possible to stream comic files on your NAS to your tablet, using Samba. This works for .cbr and .cbz files, but also for .jpg image files. This way you only need to store your comics in one place - on your NAS. Better still, you can use the NAS to automatically download web comics. Let ComicSquirrel do the work of collecting your favorite comics and store them on your NAS, then read them on your tablet in a proper comics viewer!</p>
	</div>
	
	<div class="page-content">
		<h4>For daily web comics</h4>
		<p>Schedule a regular download of (daily) web comics images to your NAS, to read them later in your favorite comics reader.</p>
		
		<h4>Missed something?</h4>
		<p>Download a series of images within a range, based on a comic's page url - or even based on an image url. Useful for getting some older comics. Hint: also works with the Wayback Machine's image urls!</p>
		
		<h4>Download to your NAS</h4>
		<p>Get started by adding your comics library path in Settings. <br>
		ComicSquirrel assumes you have only one folder on your NAS that contains all your comics, i.e. "/volume1/Media/Comics/". If you have multiple libraries, specify the parent folder that contains these, then point to the correct library folder in the "name" input field in the download forms.<br>
		The "name" you specify in the download forms will become the comics folder name. This permits you to download to a deeper level, for example: "Girl Genius/Act 2 vol 02" refers to a folder within the Girl Genius folder in your comics library. The downloaded file path will then look like this: "/volume1/Media/Comics/Girl Genius/Act 2 vol 02/ggmain20150119.jpg".</p>
	</div>
	
	<p>{{ tagline }}</p>
</div>