<div class="error-msg" ng-show="archiveform.pageurl.$dirty && archiveform.pageurl.$invalid">
	<small class="error" ng-show="archiveform.pageurl.$error.url || archiveform.pageurl.$invalid">Please fill in a valid url</small>
</div>

<div class="error-msg" ng-show="mainform.pageurl.$dirty && mainform.pageurl.$invalid">
	<small class="error" ng-show="mainform.pageurl.$error.url || mainform.pageurl.$invalid">Please fill in a valid url</small>
</div>

<div class="error-msg" ng-show="tab2form.pageurl.$dirty && tab2form.pageurl.$invalid">
	<small class="error" ng-show="tab2form.pageurl.$error.url || tab2form.pageurl.$invalid">Please fill in a valid url</small>
</div>