<div class="error-msg" ng-show="archiveform.imgdir.$dirty && archiveform.imgdir.$invalid">
	<small class="error" ng-show="archiveform.imgdir.$error.url || archiveform.imgdir.$invalid">Make sure this is a full path starting with http://</small>
</div>

<div class="error-msg" ng-show="archiveform.imgdir.$dirty && archiveform.imgdir.$invalid">
	<small class="error" ng-show="archiveform.imgdir.$error.url || archiveform.imgdir.$invalid">Make sure this is a full path starting with http://</small>
</div>