	<div class="form-group">
		<label for="comicname">Comic name:</label>
		<input type="text" class="form-control flexw-40" name="comicname" placeholder="Comic Name"
			ng-model="archiveFormData.name"
			ng-model-options="{ updateOn:'blur' }"
			ng-minlength=3 ng-maxlength=50 required>
		<p class="help-block">This name will be used as a folder name to store the comics in.</p>
	</div>
	<div errors-form-name></div>

	<div class="form-group">
		<label for="pageurl">Archive page url:</label>
		<input type="url" class="form-control flexw-40" name="pageurl" placeholder="http://comicsite/archive.php"
			ng-model="archiveFormData.firstUrl" 
			ng-model-options="{ updateOn:'blur' }" required>
		<p class="help-block">The url of the comics' Archive page</p>
	</div>
	<div errors-form-url></div>				
	
	<div class="form-group">
		<label for="linkselector">Link selector:</label>
		<input type="text" class="form-control flexw-40" name="linkselector" placeholder="Selector of *the link* pointing to comic pages"
			ng-model="archiveFormData.linkselector"
			ng-model-options="{ updateOn:'blur' }"	
			ng-minlength=3 ng-maxlength=30 required>
		<p class="help-block">The css selector on links that point to archived comic pages (i.e. ".comic-link a")</p>
	</div>
	<div errors-form-linkselector></div>
	
	<div class="form-group">
		<label for="imgselector">Image selector:</label>
		<input type="text" class="form-control flexw-40" name="imgselector" placeholder="Selector for comic's img element"
			ng-model="archiveFormData.selector"
			ng-model-options="{ updateOn:'blur' }"	
			ng-minlength=3 ng-maxlength=30 required>
		<p class="help-block">On the comic's page, the css selector that points to the comic's img tag (i.e. "#wrapper .comicimg")</p>
	</div>
	<div errors-form-imgselector></div>	
	
	<div class="form-group">
		<label for="imgdir">Image directory url:</label>
		<input type="url" class="form-control flexw-40" name="imgdir" placeholder="http://comicsite/dir/"
			ng-model="archiveFormData.sourceDir"
			ng-model-options="{ updateOn:'blur' }"	>
		<p class="help-block">(optional) When the img src on the archived comic's page (view-source) points to a relative location, give the absolute path that is missing, to complete the url to the comic image</p>
	</div>
	<div errors-form-imgdir></div>		
	
	<div class="form-group">
		<label for="archiverange">Range:</label>		
		<div class="form-ctrl-wrap inline flexw-40">
			<span>from </span>
			<input type="number" name="minRange" class="form-control fixw-80"
					 ng-model="archiveFormData.minRange"	
					 ng-model-options="{updateOn:'blur'}"
					 min="0" max="{{archiveFormData.maxRange}}"
					 number-lower-than="{{archiveFormData.maxRange}}">
			<span>to </span>
			<input type="number" name="maxRange" class="form-control fixw-80"
					 ng-model="archiveFormData.maxRange"
					 ng-model-options="{updateOn:'blur'}"
					 min="{{archiveFormData.minRange}}" max="9999" 
					 number-greater-than="{{archiveFormData.minRange}}">
		</div>
		<p class="help-block">Which pages to get. Leave blank to try to get all, counting up from the first page url.</p>

	</div>
	<div errors-number-range></div>
	